<nav class="navbar navbar-light bg-light justify-content-between mt-3">
    <ul class="nav nav-pills">
        <li class="nav-item">
           <a class="nav-link" href="#" (click)="filtraFecha()">Orden por fecha</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" href="#"(click)="filtrarPrecio()">Orden por precios</a>
        </li>
    </ul>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="text" [(ngModel)]="filterSearch" name="search" placeholder="Search" aria-label="Search">
    </form>
</nav>
<div class="row">
    <!--<div class="col-6 mt-4" *ngFor="let x of eventos | filterEvents: filterSearch | filtroPrecio ">-->
        <!--<div class="card">
            <img [src]=x.image class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">{{x.title | titlecase}}</h4>
                <p class="card-text">{{x.description}}</p>
            </div>
            <div class="card-footer text-muted">{{x.date | date: 'y/MM/dd'}}
                <span class="float-right">{{x.price | currency: 'EUR': 'symbol'}}</span>
            </div>
        </div>
    </div>
</div>-->
<roberto-app-event-item class="col-6 mt-4" *ngFor="let evento of eventos | filterEvents: filterSearch | filtroPrecio" [evento]="evento" (deleteOneEvent)="deleteEvent($event)"></roberto-app-event-item>
</div>
