<!--<nav class="navbar navbar-expand-Ig navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Angular Events</a>
</nav>-->
<roberto-app-menu-top [Title]='title'></roberto-app-menu-top>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" [routerLink]="['/welcome']">Angular Events</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/events']" [routerLinkActive]="['active']">Eventos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/events/add']" [routerLinkActive]="['active']">Añadir eventos</a>
            </li>
        </ul>
    </nav>
    <div>
      <router-outlet></router-outlet>
      
    </div>
  <!--<roberto-app-events-show></roberto-app-events-show>-->
</div>