<div class="card">
    <div class="card-header bg-primary text-white">{{event?.title}}</div>
    <div class="card-block p-3 text-center">
        <img [src]="event?.image" alt="">
        <div>Descripción:{{event?.description}}</div>
        <div>Precio: {{event?.price | currency: 'EUR': 'symbol'}}</div>
        <div>Fecha: {{event?.date|date: 'dd/MM/y'}}</div>
        <div>
                <button type="button" class="btn btn-default" (click)="goBack()">Volver</button>
        </div>
    </div>
</div>
