<form class="mt-4" (ngSubmit)="addEvent()">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" name="title" [(ngModel)]="newEvent.title" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="date">Fecha</label>
            <input type="date" class="form-control" name="date" [(ngModel)]="newEvent.date">
        </div>
        <div class="form-group">
            <label for="description">Descripción</label>
            <textarea class="form-control" name="description" rows="3" [(ngModel)]="newEvent.description"></textarea>
        </div>
        <div class="form-group">
            <label for="price">Precio</label>
            <input type="number" class="form-control" name="price" min="0.00" max="1000.00" step="0.01" [(ngModel)]="newEvent.price">
        </div>
        <div class="form-group">
            <label for="image">Imagen</label>
            <input type="file" class="form-control" name="image" #fileImage (change)="changeImage(fileImage)" [(ngModel)]="newEvent.image">
        </div> 
        <button type="submit" class="btn btn-primary">Añadir</button>
</form>