<div class="card">
    <img [src]=evento.image class="card-img-top">
   
    <div class="card-body">
        <a [routerLink]="['/events', evento.id]">{{evento.title | titlecase}}</a>
        <!--<h4 class="card-title">{{evento.title | titlecase}}</h4>-->
        <p class="card-text">{{evento.description}}</p>
    </div>
    <div class="card-footer text-muted">{{evento.date | date: 'y/MM/dd'}}
        <span class="float-right">{{evento.price | currency: 'EUR': 'symbol'}}</span>
    </div>
    <div>
        <button class="btn btn-danger ml-3 float-right" (click)="deleteEvent()">Delete</button>
    </div>
</div>
